@font-face {
  font-family: "Bricolage Grotesque";
  /* Note that the file not present in the static (outside of it) is NOT the one intended to be used.
  It is different visually from the design */
  src: url("./assets/fonts/Bricolage_Grotesque/static/BricolageGrotesque-Bold.ttf"); 
}

@font-face {
  font-family: "DM Sans";
  src: url("./assets/fonts/DM_Sans/static/DMSans-Light.ttf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "DM Sans";
  src: url("./assets/fonts/DM_Sans/static/DMSans-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "DM Sans";
  src: url("./assets/fonts/DM_Sans/static/DMSans-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "DM Sans";
  src: url("./assets/fonts/DM_Sans/static/DMSans-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}